.table-page-wrapper {
    height:100vh;
    width:100vw;
}

.table-page-wrapper .pusher {
    height:100%;
}

.table-page-content-wrapper {
    flex-grow: 1;
    display:flex;
    width:100%;
    max-height: inherit;
    height:calc(100% - 28.38px);
}

.table-page-content-wrapper .chart-menu-display {
    width:60%;
}

.table-page-content-wrapper .table-display {
    width:40%;
    height:100%;
    border-left: 1px solid black;
    overflow-y: auto;
    padding-right:0;
}

.table-page-content-wrapper .table-display table {
    border-collapse: collapse;
    border:0ch;
    min-width: 100%;
    padding-right:0;
}

.table-page-content-wrapper .table-display th {
    text-align: left;
    border-bottom: 1px solid black
}

.table-page-content-wrapper .table-display th, .table-page-wrapper .table-display td {
    padding:5px;
    min-width: 100px;
}

.table-page-content-wrapper .table-display th:hover, .table-page-wrapper .table-display td:hover {
    background-color: #d6d6d6;
}

.table-page-content-wrapper .chart-menu-display {
    display: flex;
    flex-direction: column;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector {
    /* border-top:1px solid black; */
    border-bottom:1px solid black;
    height:30px;
    width:100%;
    display:flex;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector .option {
    flex-grow: 1;
    display:flex;
    border-right:1px solid grey;
    border-left:1px solid grey;
    cursor: pointer;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector .option.selected {
    background-color: #989898;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector .option.selected:hover {
    background-color: #989898;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector .option:hover {
    background-color: #c5c5c5;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-selector .option div {
    margin:auto;
    /* font-family: Verdana, Helvetica; */
    font-size: 1em;
    font-weight: bold;
    color:#636363;
}

.table-page-content-wrapper .chart-menu-display .chart-menu-content {
    flex-grow: 1;
    border:1px solid grey
}

.table-page-wrapper .ui.sidebar table {
    width:100%;
}

.table-page-wrapper .sidebar-input-field {
    display:flex;
}

.table-page-wrapper .sidebar-input-field input {
    flex-grow: 1;
}

.table-page-wrapper .ui.sidebar {
    padding:1em
}